<%= form_with(model: treatment) do |form| %>
  <% if treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

      <ul>
        <% treatment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless treatment.pet_id.positive? %>
    <div class="detailsRow">
      <div class="itemDetail w100">
        <%= form.label :pet %>
        <%= form.select :pet_id, options_from_collection_for_select(treatment.user.pets, "id", "name"), include_blank: true %>
      </div>
    </div>
  <% else %>
    <%= form.hidden_field :pet_id %>
  <% end %>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :date, "Date & Time" %>
      <%= form.datetime_select :date %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :item %>
      <%= form.text_field :item %>
    </div>
    <div class="itemDetail">
      <%= form.label :cost %>
      <%= form.text_field :cost %>
    </div>
  </div>


  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  </div>


  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>
  </div>

  <%= form.hidden_field :user_id %>

  <div class="detailsRow">
    <div class="itemDetail">
    </div>
    <div class="itemDetail">
    </div>
    <div class="itemDetail">
      <%= form.submit %>
    </div>
  </div>

<% end %>
