<%= form_with(model: treatment) do |form| %>

  <div class="detailsRow">
    <div class="itemDetail w100">
      <%= form.label :pet %>
      <%= form.select :pet_id, options_from_collection_for_select(treatment.user.pets, "id", "name", treatment.pet_id), include_blank: true %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :date, "Date & Time" %>
      <%= form.datetime_select :date %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :item %>
      <%= form.text_field :item %>
    </div>
    <div class="itemDetail">
      <%= form.label :cost %>
      <%= form.text_field :cost %>
    </div>
  </div>


  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  </div>


  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>
  </div>

  <%= form.hidden_field :user_id %>

  <div class="detailsRow">
    <div class="itemDetail">
    </div>
    <div class="itemDetail">
    </div>
    <div class="itemDetail">
      <%= form.submit %>
    </div>
  </div>

<% end %>
