<%= form_with(model: treatment) do |form| %>

  <div class="detailsRow">
    <div class="itemDetail w100">
      <%= form.label :pet_id %>
      <%= form.select :pet_id, options_from_collection_for_select(treatment.user.pets, "id", "name", treatment.pet_id), include_blank: true %>
    </div>
    <div class="itemDetail">
      <label for="dateTimeInput">Date & Time</label>
      <%= text_field :treatment, :date, { dvalue: treatment.date.strftime('%s'), value: treatment.date.strftime('%a %d-%m-%Y %H:%M'), id: 'dateTimeInput', readonly: true } %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail categoryContainer">
      <%= form.label :category_id %>
      <%= form.select( :category_id, TreatmentCategory.all.collect { |c| [c.categoryName, c.id] }, {include_blank: '- Select -'} ) %>
    </div>
    <div class="itemDetail">
      <%= form.label :item %>
      <%= form.text_field :item %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :cost %>
      <%= form.text_field :cost %>
    </div>
    <div class="itemDetail">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  </div>

  <%= form.hidden_field :user_id %>

  <div class="detailsRow">
    <div class="itemDetail">
    </div>
    <div class="itemDetail">
    </div>
    <div class="itemDetail">
      <%= form.submit %>
    </div>
  </div>

<% end %>

<%= javascript_pack_tag 'datetime_form' %>
