<header class="page-header">
  <h2 >Editing Treatment Record</h2>
  <% if @treatment.pet %>
    <%= link_to "Back", pet_treatments_path(@treatment.pet), class: 'pageLink' %>
  <% else %>
    <%= link_to "Back", treatments_path(user_id: @treatment.user_id), class: 'pageLink' %>
  <% end %>
</header>
<div class="page-body">
  <%= render 'form', treatment: @treatment %>
  <div class="detailsRow">
    <div class="itemDetail">
      <%= link_to "Delete", treatment_path(@treatment), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="itemDetail"></div>
    <div class="itemDetail"></div>
  </div>
</div>

<%= javascript_pack_tag 'datetime_edit' %>
