<p id="notice"><%= notice %></p>

<% if @pet %>
  <h1><%= @pet.name %>: Treatments</h1>
<% else %>
  <h1><%= @user.fullname %>: All Pets Treatments</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= treatment.item %></td>
        <td><%= treatment.description %></td>
        <td><%= treatment.cost %></td>
        <td><%= treatment.location %></td>
        <td><%= link_to 'Show', treatment %></td>
        <td><%= link_to 'Edit', edit_treatment_path(treatment) %></td>
        <td><%= link_to 'Destroy', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treatment', new_treatment_path(pet_id: @pet) %>
<% if @pet %>
  <%= link_to 'Back to ' + @pet.name, pet_path(@pet) %>
<% else %>
  <%= link_to 'Back Home ', root_path %>
<% end %>