<main class="main-container">
  <header class="page-header">
    <% if @user %>
      <h3 ><%= @user.fullname %>: Treatment history</h3>
      <div class="page-header-links">
        <%= link_to "Back", dashboard_path, class: 'pageLink' %>
        <%= link_to 'New', new_treatment_path(user_id: @user), class: 'pageLink' %>
      </div>
    <% else %>
      <% if @pet %>
        <h3 ><%= @pet.name + ': Treatment history' %></h3>
        <div class="page-header-links">
          <%= link_to "Back", pet_path(@pet), class: 'pageLink' %>
          <%= link_to 'New', new_treatment_path(pet_id: @pet), class: 'pageLink' %>
        </div>
      <% else %>
        <h3 ><%= 'Treatment history' %></h3>
        <div class="page-header-links">
          <%= link_to "Back", dashboard_path, class: 'pageLink' %>
          <%= link_to 'New', new_treatment_path, class: 'pageLink' %>
        </div>
      <% end %>
    <% end %>
    
  </header>
  <div class="page-body">
    <% @treatments.each do |treatment| %>
      <div class="petPanel">
        <div class="petDetails">
          <div class="petFields">
            <div class="detailsRow">
              <div class="itemDetail blueText"><%= treatment.dateCaption %></div>
              <% if @user %>
                <div class="itemDetail brownText"><%= treatment.pet ? treatment.pet.name : '' %></div>
              <% end %>
              <div class="itemDetail align-right"><%= treatment.location %></div>
            </div>
            <div class="detailsRow">
              <div class="itemDetail"><%= treatment.item %></div>
              <div class="itemDetail align-right"><%= treatment.cost %></div>
            </div>
            <div class="detailsRow">
              <div class="itemDetail"><%= treatment.description %></div>
            </div>
          </div>
          <div class="petLinks flex-end">
            <div class="petLinks-right">
              <%= link_to treatment.treatment_photos.length.to_s + ' Photos', treatment_path(treatment) %>
              <%= link_to 'Edit', edit_treatment_path(treatment) %>
            <div>
          </div>
        </div>
      </div>
      <hr/>
    <% end %>

    <% if @treatments.length.zero? %>
      <div class="page-body-msg">
        <h2>No treatment cases are recorded</h2>
        <h3>Please click the New button to add</h3>
      </div>
    <% end %>
  </div>


</main>