<header class="page-header">
  <% if @pet %>
    <h3>New Treatment Record for <%= @pet.name %></h3>
    <%= link_to "Back", pet_treatments_path(@treatment.pet), class: 'pageLink' %>
  <% else %>
    <h3>New Treatment Record</h3>
    <%= link_to "Back", pet_treatments_path(@treatment.user), class: 'pageLink' %>
  <% end %>
</header>
<div class="page-body">
  <%= render 'form', treatment: @treatment %>
</div>

<%= javascript_pack_tag 'datetime_new' %>
