<div class="dashboard-container">
  <section class='dashboard-section'>
    <%= linkToMyPets %>
    <%= linkToMyTreatment %>
    <%= linkToMyAppointments %>

    <%= linkToMyLost %>
    <%= linkToMyFound %>
  </section>
</div>
