<header class="page-header">
  <h2>Found animals</h2>
  <%= link_to 'New', new_found_path, class: 'pageLink' %>
</header>
<div class="page-body">
  <% @founds.each do |found| %>
    <section>
      <div class="petDetails">
        <div class="detailsRow">
          <div class="itemDetail">
            <label>
              <%= 'Reported by: ' + found.user.fullname %>
            </label>
          </div>
          <% if found.user == current_user %>
            <%= link_to '', edit_found_path(found), class: 'image-link pencil-bg' %>
          <% end %>
        </div>
        <div class="detailsRow">
          <div class="itemDetail">
            <%= found.comments %>
          </div>
        </div>
      </div>
      <div class="petPhotos">
        <% found.photos.each do |image| %>
            <div class="petPhotoContainer">
              <%= link_to edit_found_photo_path(image) do %>
                <div class="petPhotoPanel">
                  <div class="petPhoto">
                    <% if image.photo.persisted? %>
                      <%= image_tag image.photo %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          
        <% end %>
      </div>

    </section>
    <br/>
  <% end %>

</div>
