<%= form_with(model: pet) do |form| %>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>
    <div class="itemDetail">
      <label for="dateOfBirthInput">Date of birth</label>
      <%= text_field :pet, :dateOfBirth, { dvalue: pet.dateOfBirth.strftime('%s'), value: pet.dateOfBirth.strftime('%a %d-%m-%Y'), id: 'dateOfBirthInput', readonly: true }  %>
    </div>
  </div>
  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :species %>
      <%= form.text_field :species %>
    </div>

    <div class="itemDetail">
      <%= form.label :race %>
      <%= form.text_field :race %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :breed %>
      <%= form.text_field :breed %>
    </div>

    <div class="itemDetail">
      <%= form.label :color %>
      <%= form.text_field :color %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :gender %> 
      <div class="radio-detail">
        <div class="radio-detail-item">
          <%= form.label :gender_2, 'Female', class: 'radio-label' %>
          <%= form.radio_button :gender, '2' %>
        </div>
        <div class="radio-detail-item">
          <%= form.label :gender_1, 'Male', class: 'radio-label' %>
          <%= form.radio_button :gender, '1' %>
        </div>
        <div class="radio-detail-item">
          <%= form.label :gender_0, 'unset', class: 'radio-label' %>
          <%= form.radio_button :gender, '0' %>
        </div>
      </div>
    </div>

    <div class="itemDetail">
      <%= form.label :sterilised %>
      <%= form.check_box :sterilised, class: "custom-checkbox" %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :description, 'Notes' %>
      <%= form.text_area :description, rows: 7 %>
    </div>
  </div>

  <%= form.hidden_field :user_id %>

  <div class="detailsRow">
    <div class="itemDetail">
    </div>
    <div class="itemDetail">
      <%= form.submit %>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'pet_form' %>