<main class="main-container">
  <header class="page-header">
    <% if @owner %>
      <h2 ><%= @owner.fullname + ': ' + @pets.length.to_s + ' Pets' %></h2>
    <% end %>
    <%= link_to "New Pet", new_pet_path(owner: @owner), class: 'pageLink' %>
  </header>
  <div class="page-body">
    <% @pets.each do |pet| %>
      <section>
        <div class="petPanel">
          <div class="petDetails">
            <div class="petFields">
              <div class="detailsRow">
                <div class="itemDetail"><%= pet.name %></div>
                <div class="itemDetail"><%= pet.raceCaption %></div>
              </div>
              <div class="detailsRow">
                <div class="itemDetail"><%= pet.genderCaption %></div>
                <div class="itemDetail"><%= pet.sterilisedCaption %></div>
              </div>
              <div class="detailsRow">
                <div class="itemDetail"><%= pet.color %></div>
                <div class="itemDetail"><%= pet.dateOfBirth %></div>
              </div>
              <div class="detailsRow">
                <div class="itemDetail"><%= pet.description %></div>
              </div>
            </div>
            <div class="petLinks">
              <div class="petLinks-left">
                <%= link_to 'Treatment', pet_treatments_path(pet) %>
              </div>
              <div class="petLinks-right">
                <%= link_to 'More..', pet %>
                <%= link_to 'Edit', edit_pet_path(pet) %>
                <%#= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
          <div class="petPanelImage">
            <%= petFirstPhoto(pet) %>
          </div>
        </div>
        <!--
        <div style="height:40px; border: 1px solid #ccc; border-radius: 4px; margin: -9px 10px 0 10px;">
        </div>
        -->
      </section>
      <hr/>
    <% end %>
  </div>


</main>