<main class="main-container">
  <header class="page-header">
    <h2 >Pet Details</h2>
    <%= link_to "Back to pets", pets_path(owner: @owner), class: 'pageLink' %>
  </header>
  <div class="page-body">
    <section>
      <div class="petDetails">
        <div class="petFields">
          <div class="detailsRow">
            <div class="itemDetail">
              <strong>Name:</strong>
              <%= @pet.name %>
            </div>
            <div class="itemDetail">
              <strong>Owner:</strong>
              <%= @pet.owner.fullname %>
            </div>
          </div>
          <div class="detailsRow">
            <div class="itemDetail">
              <strong>Species:</strong>
              <%= @pet.species %>
            </div>
            <div class="itemDetail">
              <strong>Race:</strong>
              <%= @pet.race %>
            </div>
          </div>
          <div class="detailsRow">
            <div class="itemDetail">
              <strong>Gender:</strong>
              <%= @pet.genderCaption %>
            </div>
            <div class="itemDetail">
              <strong>Sterilised:</strong>
              <%= @pet.sterilisedBool %>
            </div>
          </div>
          <div class="detailsRow">
            <div class="itemDetail">
              <strong>Color:</strong>
              <%= @pet.color %>
            </div>
            <div class="itemDetail">
              <strong>Breed:</strong>
              <%= @pet.breed %>
            </div>
          </div>
          <div class="detailsRow">
            <div class="itemDetail">
              <strong>Birth:</strong>
              <%= @pet.dateOfBirth %>
            </div>
          </div>
          <div class="detailsRow">
            <div class="itemDetail">
              <strong>Notes:</strong>
              <%= @pet.description %>
            </div>
          </div>
        </div>
        <div class="petLinks">
          <div>
            <%= link_to 'Treatment', pet_treatments_path(@pet) %>
          </div>
          <div>
            <%= link_to 'Edit', edit_pet_path(@pet) %>
            <%= link_to 'Delete this pet', @pet, method: :delete, data: { confirm: 'Are you sure you want to Delete this pet ?' }, class: "redText" %>
          </div>
        </div>
      </div>
      <div class="petPhotos">
        <% @pet.pet_images.each do |image| %>
          <% if image.photo.persisted? %>
            <div class="petPhotoContainer">
              <%= link_to edit_pet_image_path(image) do %>
                <div class="petPhotoDescription">
                  <%= image.description %>
                </div>
                <div class="petPhotoPanel">
                  <div class="petPhoto">
                      <%= image_tag image.photo %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="addPhotoButtonContainer">
        <div id="newPhotoFile">
        </div>
        <input type="button" id="addPhotoButton" value="Add New Photo">
      </div>
      <div id="addPetPhotoPanel">
        <%= form_for(@pet_image) do |form| %>
          <%= form.hidden_field :pet_id %>
          <%= form.file_field :photo, {id: "pet_image_photo"} %>

          <div class="itemDetail">
            <%= form.label :description %>
            <%= form.text_field :description %>
          </div>

          <div class="detailsRow">
            <div class="itemDetail">
              <%= form.submit("Save New Photo", {id: "save_image"}) %>
            </div>
            <div class="itemDetail">
              <input type="button" value="Cancel" id="cancelNewPhoto" />
            </div>
          </div>
        <% end %>

      </div>
    </section>
  </div>
</main>
<%= javascript_pack_tag 'pet_show' %>
