<header class="page-header">
  <h3>Users Index</h3>
</header>
<div class="page-body">
  
    <% @users.each do |user| %>
      <div class="petDetails">
        <div class="detailsRow">
          <div class="itemDetail">
            <%= user.fullname %>
          </div>
          <div class="user-buttons">
            <%= link_to(pets_path(owner: user), class: 'tipped') do %>
              <%= image_tag "pets-black.png", size: '32x32' %>
              <%= content_tag(:div, "Pets", class: "tiptext top") %>
            <% end %>
            <%= link_to(treatments_path(user_id: user.id), class: 'tipped') do %>
              <%= image_tag "treatment-black.png", size: '24x24' %>
              <%= content_tag(:div, "Treatment", class: "tiptext top") %>
            <% end %>
            <%= link_to(user_appointments_path(user), class: 'tipped') do %>
              <%= image_tag "calendar-black.png", size: '24x24' %>
              <%= content_tag(:div, "Appointments", class: "tiptext top right") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  
</div>
