<%= form_with(model: lost) do |form| %>
  <% if lost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lost.errors.count, "error") %> prohibited this lost from being saved:</h2>

      <ul>
        <% lost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :comments %>
      <%= form.text_area :comments, {rows: 10} %>
    </div>
  </div>

  <% if @lost.user === current_user %>
    <%= form.hidden_field :user_id %>

    <div class="detailsRow">
      <div class="itemDetail">
        <% if @isnew %>
          <%= form.hidden_field :resolved %>
        <% else %>
          <div class="checkBoxContainer">
            <%= form.label :resolved %>
            <%= form.check_box :resolved, class: "custom-checkbox" %>
          </div>
        <% end %>
      </div>
      <div class="itemDetail"></div>
      <div class="itemDetail">
        <%= form.submit 'Save' %>
      </div>
    </div>
  <% end %>
<% end %>
