<p id="notice"><%= notice %></p>

<h1>Losts</h1>

<table>
  <thead>
    <tr>
      <th>Comments</th>
      <th>User</th>
      <th>Resolved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @losts.each do |lost| %>
      <tr>
        <td><%= lost.comments %></td>
        <td><%= lost.user.fullname %></td>
        <td><%= lost.resolved %></td>
        <td><%= link_to 'Show', lost %></td>
        <td><%= link_to 'Edit', edit_lost_path(lost) %></td>
        <td><%= link_to 'Destroy', lost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lost', new_lost_path %>
