<%= form_with(model: pet_image) do |form| %>

  <div class="detailsRow">
    <div id="newPhotoFile">
    </div>
    <div class="itemDetail">
    </div>
    <% if @owner == current_user %>
      <div class="itemDetail" id="selectPhotoButtonContainer">
        <input type="button" id="selectPhotoButton" value="Select Photo">
      </div>
      <div class="itemDetail" id="cancelUpdatePetImagePanel">
        <input type="button" value="Cancel" id="cancelUpdatePetImageButton" />
      </div>
    <% end %>
  </div>
  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  </div>

  <%= form.file_field :photo, {id: "pet_image_photo"} %>

  <% if pet_image.pet.owner == current_user %>
    <div class="detailsRow">
      <div class="itemDetail linkBox flex-start">
        <%= link_to 'Delete this Pet Image', pet_image_path(@pet_image, pet_id: @pet.id), method: :delete, data: { confirm: 'Are you sure you want to Delete this Photo ?' }, class: "redText" %>
      </div>
      <div class="itemDetail">
      </div>
      <div class="itemDetail">
        <%= form.submit "Update" %>
      </div>
    </div>
  <% end %>


<% end %>

