<%= form_with(model: pet_image) do |form| %>

  <%= petImageSelect(pet_image.pet.owner) %>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  </div>

  <%= form.file_field :photo, {id: "pet_image_photo"} %>
  
  <%= petImageEditButtons(pet_image.pet.owner) %>

<% end %>

