<%= form_with(model: appointment) do |form| %>
  <%= form.hidden_field :user_id %>

  <div class="detailsRow">
    <div class="itemDetail">
      <%#= form.label :datetime %>
      <%#= form.datetime_select :datetime %>

      <label for="dateTimeInput">Date & Time</label>
      <%= text_field :appointment, :datetime, { dvalue: appointment.datetime.strftime('%s'), value: appointment.datetime.strftime('%a %d-%m-%Y %H:%M'), id: 'dateTimeInput', readonly: true } %>

    </div>
    <div class="itemDetail">
      <%= form.label :done %>
      <%= form.check_box :done, class: "custom-checkbox" %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="itemDetail">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
    </div>
    <div class="itemDetail">
      <%= form.submit %>
    </div>
  </div>

<% end %>

<%= javascript_pack_tag 'datetime_form' %>
