<%= form_with(model: appointment) do |form| %>
  <%= form.hidden_field :user_id %>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :datetime %>
      <%= form.datetime_select :datetime %>
    </div>
    <div class="itemDetail">
      <%= form.label :done %>
      <%= form.check_box :done, class: "custom-checkbox" %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="itemDetail">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
  </div>

  <div class="detailsRow">
    <div class="itemDetail">
    </div>
    <div class="itemDetail">
      <%= form.submit %>
    </div>
  </div>

<% end %>
