<main class="main-container">
  <header class="page-header">
    <h3><%= @user.fullname %>: Appointments</h3>
    <div class="page-header-links">
      <%= link_to "Back", dashboard_path, class: 'pageLink' %>
      <%= link_to 'New', new_user_appointment_path(user_id: current_user.id), class: 'pageLink' %>
    </div>
  </header>
  <div class="page-body">
    <% @appointments.each do |appointment| %>
      <%#= appointment.user_id %>
      <div class="petDetails">
        <div class="petFields">
          <div class="detailsRow">
            <div class="itemDetail blueText">
              <%= appointment.dateCaption %>
            </div>
            <div class="itemDetail align-right <%= appointment.doneClass %>" >
              <%= appointment.doneBool %>
            </div>
          </div>
          <div class="detailsRow">
            <div class="itemDetail">
              <%= appointment.title %>
            </div>
            <div class="itemDetail align-right">
              <%= appointment.location %>
            </div>
          </div>
          <div class="detailsRow">
            <div class="itemDetail">
              <%= appointment.content %>
            </div>
          </div>
        </div>
        <div class="petLinks">
          <div></div>
          <div class="petLinks-right">
            <% if @user == current_user %>
              <div><%= link_to 'Edit', edit_appointment_path(appointment) %></div>
              <div><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <% end %>
          </div>
        </div>
      </div>
      <hr/>
    <% end %>
  </div>
</main>
