<header class="top-bar">
  <div>
    <%= image_tag("pet-icon-home.png", alt: "pet-foot-logo.png", class: 'home-image') %>
    <%= linkToDashboard %>
    <%= linkToUsers %>
  </div>
  <div>
    <%= currentUserTopLabel %>
    <%= logoutButton %>
    <%= linkToForgot %>
    <%= linkToLogIn %>
    <%= linkToSignUp %>
  </div>
</header>
