<nav class="top-bar">
  <div>
    <%#= image_tag("home-image.png", alt: "home-image.png", class: 'home-image') %>
    <%= linkToRoot %>
    <%= linkToDashboard %>
    <%= linkToUsers %>
    <%= startChatButton %>
  </div>
  <div>
    <%= currentUserTopLabel %>
    <%= logoutButton %>
    <%= linkToForgot %>
    <%= linkToLogIn %>
    <%= linkToSignUp %>
  </div>
</nav>

<%= javascript_pack_tag 'top_bar' %>