<!DOCTYPE html>
<html>
  <head>
    <title>PetCare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @notice %>
      <p class="notice"><%= @notice %></p>
      <hr/>
    <% end %>

    <div class="top-bar">
      <%= link_to "Home", root_path %>
      <% if current_user %>
        <%= link_to "Users", users_path, method: :get %>
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>


    <br/><br/>
  
    <% if current_user %>
     <%= button_to "logout", destroy_user_session_path, method: :delete %><br/>
    <% end %>
  
  </body>
</html>
